{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        <h3> О проекте </h3>
      </div>
      <div class="card-body">
        <p>
          Наше веб-приложение представляет собой социально-образовательную платформу, предназначенную для обмена достижениями в учебной и творческой сферах. Пользователи могут регистрироваться, создавать профили, делиться своими успехами в виде постов, а также получать обратную связь от сообщества. Наша цель — объединить единомышленников, способствовать обмену ресурсами и вдохновлять на новые достижения.
        </p>
      </div>
    </div>
  </div>
{% endblock %}