{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        <h2> Правила сайта </h2>
      </div>
      <div class="card-body">
        <p>Добро пожаловать на нашу социально-образовательную платформу! Для обеспечения комфортного и безопасного общения просим вас ознакомиться с правилами использования:</p>

        <h3>Правила:</h3>
        <ul>
            <li><strong>Уважение к другим пользователям:</strong> Мы приветствуем разнообразие мнений и опыта. Пожалуйста, проявляйте уважение к каждому участнику сообщества.</li>
            <li><strong>Контент:</strong> Публикуемый контент должен соответствовать тематике платформы. Запрещены материалы, содержащие ненормативную лексику, порнографию, насилие или другую запрещенную информацию.</li>
            <li><strong>Конфиденциальность:</strong> Уважайте личную жизнь других пользователей. Не публикуйте личные данные без согласия.</li>
            <li><strong>Модерация:</strong> Администрация платформы оставляет за собой право модерации контента и блокировки пользователей, нарушающих правила.</li>
            <li><strong>Ответственность:</strong> Пользователи несут полную ответственность за размещаемый контент.</li>
        </ul>
        
        <p>Следуя этим простым правилам, мы сможем создать безопасное и поддерживающее сообщество для всех участников. Благодарим вас за сотрудничество и желаем успехов в ваших достижениях!</p>
    </div>
      </div>
    </div>
  </div>
{% endblock %}